@font-face {
    font-family: Josefin Sans1;
    src: url(JosefinSans-Light.ttf);
}
@font-face {
    font-family: Josefin2;
    src: url(JosefinSans-Bold.ttf);
}
@font-face {
    font-family: Josefin3;
    src: url(JosefinSans-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Josefin Sans1;
}
.active{
    color: rgb(1, 22, 12);
}

/* ------------------------------------------------------- */

/* ----------------------- Home -------------------------- */

/* -------------------------------------------------------- */

/* section-top */

#top-bar{
    width: 80%;
    margin: 0 auto;
}

#top-bar .row{
    display: flex;
    align-items: center;
}

#top-bar .row .top-bar-col{
    flex-basis: 33.33%;
    /* border: 1px solid black; */
}

#top-bar .row .col1 img{
    width: 100px;
    padding: 25px 0;
}
#top-bar .row .col2{
    text-align: center;
}
#top-bar .row .col2 img{
    width: 40px;
}
#top-bar .row .col3{
    text-align: center;
}
#top-bar .row .col3 img{
    width: 40px;
}

/* nav-bar-menu */
nav{
    background:linear-gradient(to bottom, #537634 0%, #669933 100%);
    position: relative;   
}
nav ul{
    width: 80%;
    margin: 5px auto;
    list-style: none;
}
nav ul li{
    font-size: 0;
    display: inline-block;
}
nav ul li a{
    display: block;
    font-size: 18px;
    font-weight:normal;
    text-decoration: none;
    margin: 10px 50px;
    padding: 0px;
    color: white;
    transition: all linear 0.2s;
}
.fa{
    background-color: transparent;
    font-size: 13px;
}
nav ul li a:first-child{
    margin-left: 0;
}
nav ul li a:hover{
    color: rgb(1, 22, 12);
}
nav .fa-bars{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    display: none;
}
 nav .fa-times{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    display: none;
}

/* header */

#header{
    /* background-image: url("images/background1.jpeg"); */
    background-image: linear-gradient(to bottom, rgba(18, 20, 18, 0.6), rgba(43, 63, 38, 0.5)), url("background1.jpeg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#header .text{
    text-align: center;
    padding: 50px 0;
    word-wrap: break-word;
}
#header .text h1{
    font-size: 50px;
    color: white;
    margin: 50px auto;
    padding-top: 10px;
    font-family: Josefin2;
    text-shadow: 0px 0.5px 3px black;
}
#header .text p{
    font-size: 20px;
    color: white;
    padding: 0 160px;
    text-align: start;
    word-spacing: 2px;
    line-height: 50px;
    font-family: Josefin Sans1;
    text-shadow: 0px 1px 2px black;
}

/* section-benefits */

#benefits{
    background:linear-gradient(to bottom, #537634 0%, #669933 100%);
}
.container{
    width: 80%;
    margin: 60px auto;
}
.container .row{
    display: flex;
}
.benefits-col1{
    flex-basis: 45%;
}
.benefits-col2{
    flex-basis: 55%;
}
#benefits .text{
    padding: 0 50px;
}
#benefits .text p{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-family: Josefin2;
}
#benefits .text h6{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 25px;
}

/* section-latest-product */

.container h1{
    text-align: center;
    font-size: 30px;
    font-family: Josefin3;
    color: #669933;
    text-shadow: 0px 1px 1px black;
}
#latest-product .row{
    margin-top: 60px;
    margin-bottom: 0px;
    align-items: center;
}
#latest-product .col4{
    flex-basis: 25%;
    margin-right: 30px;
    transition: all linear 0.3s;
}
#latest-product .col4:hover{
    transform: scale(0.95);
}
#latest-product .big{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    margin-bottom: 10px;
}
#latest-product .col4 img{
    width: 100%;
    cursor: pointer;
}
#latest-product .col4 p{
    padding: 20px 10px;
    text-align: center; 
}

/* section-customer-feedback */

#feedback{
    background:linear-gradient(to bottom, #537634 0%, #669933 100%);
}
#feedback .container h1{
    color: white;
    margin-bottom: 40px;
    text-shadow: 0px 1px 1px black;
}
#feedback .container .row{
    align-items: center;
    justify-content: center;
}
#feedback .container .feedback-col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 25px;
    padding: 0 5px;
    text-align: left;
    background: #fff3f3;
    cursor: pointer;
    display: flex;
    transition: all linear 0.3s;
}
#feedback .container .feedback-col:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;;
    transform: scale(0.95);
}
#feedback .container .feedback-col img{
    margin: 20px 15px;
    border-radius: 50%;
}
#feedback .container .feedback-col .pic1{
    height: 100px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#feedback .container .feedback-col .pic2{
    height: 100px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#feedback .container .feedback-col .pic3{
    height: 100px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#feedback .container .feedback-col .pic4{
    height: 100px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#feedback .container .feedback-col h3{
    text-align: left;
    margin-top: 22px;
    padding-top: 5px;
}
#feedback .container .feedback-col .fas ,
#feedback .container .feedback-col .far{
    font-size: 10px;
    margin: 5px 0;
    color: #669933;
}
#feedback .container .feedback-col p{
    padding-right: 2px;
}

/* section-video */

#video {
    background-image: linear-gradient(to bottom, rgba(32, 68, 32, 0.5), rgba(43, 63, 38, 0.3)), url("background2.jpeg");
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
#video .container h1{
    color: white;
}
#video .row .col-video{
    flex-basis: 33%;
    margin-top: 50px;
    margin-right: 20px;
    text-align: center;
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 7px;
}
#video .row .col-video iframe{
    width: 100%;
}
#video .row .col-video .text-video{
    width: 100%;
}
#video .row .col-video .text-video p{
    padding: 20px 10px;
}

/* section-footer */

#footer{
    border-top: 1px solid #669933;
    text-align: center;
    padding: 20px 0;
}
#footer p{
    padding-top: 10px;
}



/* ------------------------------------------------------- */

/* ----------------------- Drink -------------------------- */

/* -------------------------------------------------------- */

/* banner */

#banner{
    /* background-image: linear-gradient(to bottom, rgba(200, 238, 200, 0.2), rgba(43, 63, 38, 0.3)), url("images/bg1.jpeg"); */
    background-image: url("bg1.jpeg");
    /* background-position: center; */
    background-size: cover;
}
#banner h1{
    text-align: center;
    font-family: Josefin2;
    padding: 110px;
    font-size: 70px;
    color: #669933;
    text-shadow: 0px 9px 1px rgb(39, 58, 43);
}

/* Drink */
#drink h1{
    text-align: center;
    font-family: Josefin3;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #669933;
    text-shadow: 0px 1px 1px black;
    /* border: 1px solid black; */

}
#drink>.container{
    margin-top: 10px;
    /* border: 1px solid black; */
}
#drink .drink-col{
    flex-basis: 50%;
    padding-right: 10px;
    margin-top: 30px;
    display: flex;
    text-align: center;
}
#drink .drink-col .drink-img1{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    border-radius: 8px;
    /* background-color: #fff3f3; */
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: all linear 0.2s;
    cursor: pointer;
    transform: scale(0.95);

}
#drink .drink-col .drink-img1:hover{
    transform: scale(1);
}
#drink .drink-col .drink-img1 img{
    width: 100%;
    border-bottom: 1px solid rgba(9, 30, 66, 0.25);
}
#drink .drink-col .drink-img1 .h-450{
    height: 450px;
}
#drink .drink-col .drink-img1 p{
    padding: 15px 20px;
    color:#669933;
    font-family: Josefin3;
}

/* ------------------------------------------------------- */

/* ----------------------- Shop -------------------------- */

/* -------------------------------------------------------- */

/* banner-shop */

#banner-shop{
    background-image: url("bg2.jpeg");
    /* background-position: center; */
    background-size: cover;
}
#banner-shop h1{
    text-align: center;
    font-family: Josefin2;
    padding: 110px;
    font-size: 70px;
    color: #669933;
    /* text-shadow: 0px 1px 1px rgb(39, 58, 43); */
    text-shadow: 0px 9px 1px rgb(39, 58, 43);
}

/* shop */

#shop .row{
    margin-top: 0px;
    padding-top: 0px;
}
#shop .row .col-shop{
    flex-basis: 33.33%;
    margin-right: 50px;
    /* background-color: #fff3f3; */
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    overflow: hidden;
    padding-bottom: 25px;
}
#shop .row .col-shop span{
    overflow: hidden;
    position: absolute;
    text-align: center;
    line-height: 48px;
    width: 60px;
    height: 40px;
    border-top-left-radius: 8px;
    background-color: #669933;
    bottom: 0;
    right: 0;
    transform: scale(1.1);
    transition: all linear 0.2s;
    cursor: pointer;
}
#shop .row .col-shop span:hover{
    transform: scale(1);
}
#shop .row .col-shop span a{
    text-decoration: none;
    color: white;
}
#shop .row .col-shop img{
    width: 100%;
}
#shop .row .col-shop .shop-text{
    position: relative;
    text-align: center;
    padding: 10px 20px 20px 20px;
    color: #669933;
}
#shop .row .col-shop .shop-text img{
    width: 50px;
}
#shop .row .col-shop .shop-text h2{
    font-size: 18px;
    font-weight: bolder;
}
#shop .row .col-shop .fas{
    color: #669933;
    padding: 0 0 0 27px;
}

.h-206{
    height: 206px;
}

/* ------------------------------------------------------- */

/* ----------------------- Shop1 -------------------------- */

/* -------------------------------------------------------- */

#shop1 .container .row .col-shop1{
    flex-basis: 50%;
    padding-right: 25px;
}
#shop1 .container .row .col-shop1 img{
    width: 100%;
}
#shop1 .container .row .col-shop1 .shop1-img{
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
}
#shop1 .container .row .col-shop1 .shop1-img img{
    width: 70px;
}
#shop1 .container .row .col-shop1 .shop1-img p{
    color: #669933;
    margin-left: 20px;
    font-family: Josefin2;
    font-size: 25px;
}
#shop1 .container .row .col-shop1 i{
    color: rgb(58, 185, 58);
}











/* ------------------------------------------------------- */

/* ----------------------- About Us -------------------------- */

/* -------------------------------------------------------- */

#About-Us{
    background-image: url("bg3.png");
    /* background-position: center; */
    background-size: cover;
}
#About-Us h1{
    text-align: center;
    font-family: Josefin2;
    padding: 110px;
    font-size: 70px;
    color: #669933;
    /* text-shadow: 0px 1px 1px rgb(39, 58, 43); */
    text-shadow: 0px 9px 1px rgb(39, 58, 43);
}

/* section-details */

#details .container h2{
    color: #669933;
    line-height: 1.4em;
    font-size: 40px;
    font-family: Josefin2;
    margin-bottom: 20px;
}
#details .container .row {
    border-top: 1px dashed #669933;
    padding-top: 20px;
    padding-bottom: 20px;
}
#details .container .row .col-details{
    flex-basis: 50%;
    padding-right:  30px;
}
#details .container .row .col-details img{
    width: 100%;
}
#details .container .row .col-details .details-text{
    padding: 15px 0;
}
#details .container .row .col-details .details-text strong{
    color: #669933;
    font-size: 50px;
    font-family: Josefin2;
}
#details .container .row .col-details .details-text p{
    padding: 10px 0;
    line-height: 1.4em;
}

/* ------------------------------------------------------- */

/* ----------------------- Contact Us -------------------------- */

/* -------------------------------------------------------- */

#Contact-Us{
    background-image: url("bg4.jpeg");
    /* background-position: center; */
    background-size: cover;
}
#Contact-Us h1{
    text-align: center;
    font-family: Josefin2;
    padding: 110px;
    font-size: 70px;
    color: #669933;
    /* text-shadow: 0px 1px 1px rgb(39, 58, 43); */
    text-shadow: 0px 9px 1px rgb(39, 58, 43);
}

#details-contact .container{
    text-align: center;
}
#details-contact .container .big{
    color: #669933;
    font-size: 30px;
    font-family: Josefin2;
}
#details-contact .container p{
    font-size: 18px;
}
#details-contact .container .small{
    font-size: 25px;
    color: #4d4c4c;
}

/* -----------------------                   -------------------------- */
/* ----------------------- Responsive Design -------------------------- */
/* -----------------------                   -------------------------- */


@media only screen and (max-width: 1200px){
    #header .text h1{
        line-height: 70px;
    }
    #header .text p{
        font-size: 20px;
        line-height: 30px;
        padding: 0 80px;

    }
}

@media only screen and (max-width: 900px) { 

    #header .text h1{
        line-height: 40px;  
        padding: 0;
        margin: 0;

    }
    #header .text p{
        font-size: 20px;
        color: white;
        padding: 0 50px;
        text-align: start;
        word-spacing: 2px;
        line-height: 30px;

    }

    #top-bar .row .col1 img{
        width: 70px;
        padding: 10px 0;
    }
    #top-bar .row .top-bar-col{
        margin: 10px 0;
    }
    #top-bar .row .col1,#top-bar .row .col2,#top-bar .row .col3{
        margin: 0;
    }
    #top-bar .row .col2 img, #top-bar .row .col3 img{
        width: 25px;
    }
    nav .fa-bars{
        display: block;
    }
    nav .fa-times{
        display: block;
    }
    nav ul li{
        display: block; 
    }
    nav ul li:first-child{
        padding-top: 30px;
    } 
    nav ul li a{
        display: none;
        transition: all linear 0.5s;
    }

    /* header  */

    #header .text h1{
        font-size: 25px;
        margin: 50px auto;
    }
    #header .text p{
        font-size: 15px;
    }

    /* section-benefits */
    #benefits .container{
        width: 85%;
    }
    .container .row{
        flex-direction: column;
    }
    #benefits .text{
        padding: 0;
    }
    #benefits .text p{
        font-size: 30px;
        padding-top: 20px;
    }
    #benefits .text h6{
        font-size: 12px;
    }

    /* section-latest-product */

    #latest-product .container h1{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #latest-product .col4{
        margin-right: 0px;
        margin-top: 20px;
        flex-basis: 100%;
    }
    #latest-product .col4 img{
        height: 550px;
        
    }

    /* customer-feedback */
    #feedback .container .feedback-col{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    #feedback .container .feedback-col .pic1,
    #feedback .container .feedback-col .pic2,
    #feedback .container .feedback-col .pic3,
    #feedback .container .feedback-col .pic4{
        height: 100px;
        width: 100px;
    }
    #feedback .container .feedback-col h3{
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    #feedback .container .feedback-col .fas ,
    #feedback .container .feedback-col .far{
    font-size: 8px;
    display: inline-block;
    margin-top: 5px;
    color: #669933;
    }
    #feedback .container .feedback-col .i{
        text-align: center;
    }
    #feedback .container .feedback-col p{
        padding: 15px 10px;
        text-align: center;
    }

    /* section-video */
    #video .row .col-video{
        text-align: center;
       margin-left: 20px;
       
    }


    /* ------------------------------------------------------- */

    /* ----------------------- Drink -------------------------- */

    /* -------------------------------------------------------- */

    
    #banner h1{
        font-size: 30px;
    }
    #drink h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    #drink .row{
        padding-left: 20px;
    }
    #drink .drink-col{
        /* margin-left: 30px; */
        margin: 0px;
        padding: 0;
    }

    #drink .drink-col .drink-img1 .h-450{
        height: auto;
    }
    #drink .drink-col .drink-img1{
        transform: scale(1);
    }
    #drink .drink-col .drink-img1:hover{
        transform: scale(0.95);
    }


    /* ------------------------------------------------------- */

    /* ----------------------- Shop -------------------------- */

    /* -------------------------------------------------------- */

    #banner-shop h1{
        font-size: 40px;
    }
    #shop .row{
        margin-top: 0px;
        padding-top: 0px;
    }
    #shop .row .col-shop{
        margin: 22px;
        padding-bottom: 55px;
    }
    /* ------------------------------------------------------- */

    /* ----------------------- Shop1 -------------------------- */

    /* -------------------------------------------------------- */

    #shop1 .container .row .col-shop1{
        padding: 0 25px;
        margin-top: 15px;
    }
    #shop1 .container .row .col-shop1 .shop1-img img{
        width: 40px;
    }
    #shop1 .container .row .col-shop1 .shop1-img p{
        font-size: 13px;
        margin: 0;
        margin-left: 5px;
        padding: 0;
    }

    /* ------------------------------------------------------- */

    /* ----------------------- About Us -------------------------- */

    /* -------------------------------------------------------- */
    #About-Us h1{
        font-size: 40px;
    }
    #details .container h2{
        font-size: 20px;
    }
    #details .container .row .col-details{
        padding: 0;
    }
    #details .container .row .col-details .details-text strong{
        font-size: 25px;
    }

    /* ------------------------------------------------------- */

    /* ----------------------- Contact Us -------------------------- */

    /* -------------------------------------------------------- */

    #Contact-Us h1{
        font-size: 35px;
        text-shadow: 2px 2px 5px rgb(39, 58, 43);
    }
    #details-contact .container .big{
        font-size: 22px;
    }
    #details-contact .container p{
        font-size: 15px;
    }
    @media only screen and (max-width: 770px){
        #header .text h1{
            font-size: 40px;
            line-height: 55px;  
    
        }
        #header .text p{
            font-size: 20px;
            line-height: 50px;
    
        
        }
    }
    @media only screen and (max-width: 700px){
        #header .text h1{
            font-size: 30px;
    
        }
        #header .text p{
            font-size: 18px;
            line-height: 35px;
    
        }
    }
    @media only screen and (max-width: 425px){
        #header .text p{
            font-size: 10px;
            line-height: 30px;
        }
    }
    @media only screen and (max-width: 380px){
        #header .text{
    
            padding: 0;
            margin: 0;
    
        }
        #header .text h1{
            line-height: 40px; 
            font-size: 20px; 
            padding: 0 20px;
    
        }
        #header .text p{
            font-size: 15px;
            line-height: 35px;
            padding: 0 35px;
        
        }
    }
    @media only screen and (max-width: 365px){
        #header .text p{
            line-height: 30px;
        }
    }
    @media only screen and (max-height: 815px){
        #header .text h1{
            font-size: 30px;
    
        }
        #header .text p{
            font-size: 15px;
            text-align: start;
    
        }
    }
    @media only screen and (max-width: 330px){
        #header .text h1{
            font-size: 23px;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        #header .text p{
            padding: 0 20px;
            font-size: 10px;
        }
    }
    @media only screen and (max-width: 285px){
        #header .text h1{
            font-size: 15px;
            margin: 0;
            margin-bottom: 20px;
        }
        #header .text p{
            padding: 0 20px;
            font-size: 8px;
        }
    }
    
}






